<head><title>Call Queue Results</title>
<style type='text/css'>
.requeue { background: #fff06e;}
.receive { background: #ffa96e; }
.resolve { background: #77ff6e; }
.status {}
table { background: #ffffff; width: 100%; font-size: 10pt; }
table tr { font-size: 12pt; border: solid 1px #000066; }
table tr th { background: #fff; padding: 10px; border: solid 1px #000033; }
table tr td { padding: 10px; border: solid 1px #000033; }
</style>
</head><body>
<h1>Customr Call Queue System</h1>
<table>
<tr><th>TIME</th><th>STATUS</th><th>EVENT</th><th>MINUTES ON CALL</th><th>VALUE SCORE</th><th>CUSTOMER NAME</th><th>NOTES</th></tr>
